In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\gokul\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [5]:
df=pd.read_csv("sales_data_1.csv")

In [6]:
df.head()

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold
0,21/08/23,Vendor6,72.11,Customer7,91.58,44
1,21/08/23,Vendor4,75.08,Customer7,83.71,17
2,21/08/23,Vendor7,83.93,Customer2,103.76,15
3,21/08/23,Vendor7,52.01,Customer3,64.53,7
4,21/08/23,Vendor2,98.91,Customer5,140.92,1

In [7]:
df['Profit'] = (df['Selling price'] - df['Buying price']) * df['Quantity sold']

In [8]:
# 1. Overall gross margin
total_revenue = (df['Selling price'] * df['Quantity sold']).sum()
total_cogs = (df['Buying price'] * df['Quantity sold']).sum()
overall_gross_margin = (total_revenue - total_cogs) / total_revenue

In [9]:
print(total_revenue)

127804.31

In [10]:
# 2. Most profitable vendor
vendor_profit = df.groupby('Firm bought from')['Profit'].sum()
most_profitable_vendor = vendor_profit.idxmax()

In [11]:
print(most_profitable_vendor)

Vendor4

In [12]:
# 3. Least profitable customer
customer_profit = df.groupby('Customer')['Profit'].sum()
least_profitable_customer = customer_profit.idxmin()

In [13]:
print(least_profitable_customer)

Customer3

In [19]:
# 4. Most profitable day of the week
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y')
df['Day of Week'] = df['Date'].dt.day_name()
day_of_week_profit = df.groupby('Day of Week')['Profit'].sum()
most_profitable_day = day_of_week_profit.idxmax()

In [20]:
print(most_profitable_day)

Monday

In [21]:
# 5. Least profitable day of the week
least_profitable_day = day_of_week_profit.idxmin()

In [22]:
print(least_profitable_day)

Sunday

In [18]:
# Display the results
print(f"1. Overall Gross Margin: {overall_gross_margin:.2%}")
print(f"2. Most Profitable Vendor: {most_profitable_vendor}")
print(f"3. Least Profitable Customer: {least_profitable_customer}")
print(f"4. Most Profitable Day of the Week: {most_profitable_day}")
print(f"5. Least Profitable Day of the Week: {least_profitable_day}")

1. Overall Gross Margin: 24.63%
2. Most Profitable Vendor: Vendor4
3. Least Profitable Customer: Customer3
4. Most Profitable Day of the Week: Monday
5. Least Profitable Day of the Week: Sunday